[Unit]
Description=Check GitHub for new router commits every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Unit=zadum-deploy.service

[Install]
WantedBy=timers.target
